/* styles in src/style directory are applied to the whole page */
body {
  background: #555;
  color: #fff;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

.blog-list-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: burlywood;
  box-shadow: inset 6px 8px 16px 0px #333;
}

.blog-item {
  background-color: #03A9F4;
  padding: 5px;
  margin: 15px;
  box-shadow: 5px 5px 20px #333;
}

.blog-item__title {
  text-align: left;
  
}

.blog-item__title h1 {
  margin: 5px;
  text-align: left;
  border-bottom: 1px dashed grey;
}

.blog-id {
  font-size: 0.75em;
}

.blog-item__text {
  text-align: left;
  margin: 10px;
}

.blog-item__tags {
  cursor: pointer;
}

.blog-item__tags ul {
  list-style: none;
  text-align: right;
}

.blog-item__tags ul li {
  padding: 5px;;
  margin: 5px;
  background: #fff;
  color: black;
  display: inline-block;
  border-radius: 5px;
}

.blog-controls {
  margin: 10px;
  padding: 10px;
}

.blog-controls .button {
  padding: 10px;;
  margin: 5px;
  background: #fff;
  color: black;
  display: inline-block;
  border-radius: 5px;
}
